<% 
@book_list.each do |list|
	%>
	
	<% form_remote_tag :url => {:action => 'left_list_delete'}, :update => "new_book_list" do %>	
	<a href="/bookarticles?book_id=<%= list.id.to_s %>"><font color="white"><%= list.title %></font></a>&nbsp;<input type="submit" value="-"><br>
	<input type="hidden" name="book_id" value="<%= list.id.to_s %>">
	<% end %>
	<%
end

%>