<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
#layer1{border:0px solid green;position:absolute; left:500px; top:200px;width:100;height:100px; z-index:999999}
</style>

<div id="layer1" style="display:none"><%= image_tag("/images/template/loading.gif", :width => '100') %></div>





<script language="javascript">
function folder_view() {
	var t = document.getElementById('folder');
	
	if (t.style.display == "none") {
		t.style.display = "block";			
	}else{
		t.style.display = "none";					
	}

}

function show_progress() {
	var width = 100;
	var height = 100;
	
	var left = (screen.width - width)/2;
 	var top = (screen.height - height)/2;
	
	document.getElementById("layer1").style.left = left;
	document.getElementById("layer1").style.top = top;
	
	document.getElementById("layer1").style.display = "block";		

}

function hide_progress() {
	document.getElementById("layer1").style.display = "none";		
}

</script>

<script type="text/javascript">
var count = [0,0,0,0];         
var count_for_name = new Array(3);
count_for_name[0] = new Array();
count_for_name[1] = new Array();
count_for_name[2] = new Array();

 function addForm(level,form_id){
	if (level == 1){
		var addedFormDiv = document.getElementById(form_id);		
	}else{
		var addedFormDiv = document.getElementById(form_id);		
	}

	replace_string_add = "addForm("+ (level+1) +",'addedFormDiv"+(level+1)+"-"+ (count[level -1]+1) +"')" ;
	replace_string_del = "delForm("+ (level+1) +",'addedFormDiv"+(level+1)+"-"+ (count[level -1]+1) +"')" ;

	
	var space = "";
	
	for (var i=1; i<(level); i++){space += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";}
	
	var str = "";
	
	if (level == 1){
		input_name = "level1[]";		
		input_value = "level1-" + (count[(level-1)]);
	}else{
		r_str = "addedFormDiv" + level + "-"
		temp2 = form_id.replace(r_str,'');

		if (count_for_name[level-2][temp2-1] == undefined){
			count_for_name[level-2][temp2-1] = 1;
		}else{
			count_for_name[level-2][temp2-1] ++;
		}
		
				
		temp = form_id.replace('addedFormDiv','');
		input_name = "level" + level +"[]";
		input_value = "level" + level + "-"+ count_for_name[level-2][temp2-1];				
		
	}


	var addedDiv = document.createElement("div"); // 폼 생성
	addedDiv.id = "added"+level+"_"+count[(level -1)]; // 폼 Div에 ID 부 여 (삭제를 위해)
	// replace_string_del_self = "selfDel("+ (level+1) +",'addedFormDiv"+(level+1)+"-"+ (count[level -1]+1) +"', '"+addedDiv.id+"')" ;
	replace_string_del_self = "selfDel("+ level +",'"+form_id+"','"+addedDiv.id+"')" ;	
	
	str+="<br>"+space+"<input type='text' name='"+ input_name +"' value='"+input_value+"'><input type='Button' value='하위레벨 추가' onclick="+ replace_string_add +"><input type='Button' value='하위레벨 삭제' onclick="+ replace_string_del +"><input type='Button' value='-' onclick="+ replace_string_del_self +"><div id='addedFormDiv" + (level+1) + "-" + (count[level -1] +1)+"'></div>";
	

	// 추가할 폼(에 들어갈 HTML)

	addedDiv.innerHTML  = str; // 폼 Div안에 HTML삽입
	addedFormDiv.appendChild(addedDiv); // 삽입할 DIV에 생성한 폼 삽입

	count[(level -1)]++;
	// 다음 페이지에 몇 개의 폼을 넘기는지 전달하기 위해 히든 폼에 카운트 저장

 }



function delForm(level,form_id){
	var addedFormDiv = document.getElementById(form_id);

	r_str = "addedFormDiv" + level + "-"
	temp2 = form_id.replace(r_str,'');		

	if(count[level-1] > 0){ // 현재 폼이 두개 이상이면
		//이부분 문제있음!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!		
		var addedDiv = document.getElementById("added"+level+"_"+ (--count[(level -1)] -1));
		//이부분 문제있음!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		// 마지막으로 생성된 폼의 ID를 통해 Div객체를 가져옴
		addedFormDiv.removeChild(addedDiv); // 폼 삭제 
		count_for_name[level-2][temp2-1] --;
	}
	
	if(count[level-1] == 0){
		count[level] = 0;
		count_for_name[level-2][temp2-1] = 0;		
	}

}

function selfDel(level,form_id, del_id){
	
	var addedFormDiv = document.getElementById(form_id);

	r_str = "addedFormDiv" + level + "-"
	temp2 = form_id.replace(r_str,'');		

	if(count[level-1] > 0){ // 현재 폼이 두개 이상이면
		//이부분 문제있음!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!		
		var addedDiv = document.getElementById(del_id);
		//이부분 문제있음!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		// 마지막으로 생성된 폼의 ID를 통해 Div객체를 가져옴
		addedFormDiv.removeChild(addedDiv); // 폼 삭제 
		count_for_name[level-2][temp2-1] --;
	}
	
	if(count[level-1] == 0){
		count[level] = 0;
		count_for_name[level-2][temp2-1] = 0;		
	}
}

</script>

</head>
<body>
<% form_remote_tag :url => {:action => 'test'}, :update => "result" do %>	
<center>
	<div id="basic">
		<input type="text" name="basic" value="책제목"><br>
		<input type="text" name="basic" value="속표지"><br>
		<input type="text" name="basic" value="차례"><br>					
		<input type="text" name="basic" value="머릿말"><br>			
	<div>

   <input type="hidden" name="count" value="0">
	<br><br>
   <input type="Button" value="최상위 레벨 추가" onclick="addForm(1,'addedFormDiv1');">
   <input type="Button" value="최상위 레벨 삭제" onclick="delForm(1,'addedFormDiv1');">
   <input type="Button" value="완료" onClick="test();">

<%= javascript_include_tag :defaults %>	
<%= javascript_include_tag "basic_tools" %>

	<%= submit_tag "저장하기!" %>
	<%#= image_tag '/images/mybook/make_one.jpg', :align => 'absmiddle', 
	:onmouseover => "this.style.cursor='hand';",
	:onclick => "if (window.confirm('아래의 모든 PDF파일들을 순서대로 합치시겠습니까?')){show_progress();}else{return false;};" + remote_function(:url => { :controller => 'newbooks', :action => :test },
	:with => "'level1=' + result() +'&mybook_id=' + ")
	%>
   <div id="addedFormDiv1"></div> <!-- 폼을 삽입할 DIV -->

</center>

<% end %>

<div id="result"></div>


</body>
</html>



